################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SmartPointers/Debug
/SmartPointerTests/Debug
